<% if user_signed_in? %>
  <h1 class="text-center">Timeline</h1>
<% else %>
  <div class="alert alert-danger alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    Please <a href="/users/sign_in" class="alert-link">sign in</a> or <a href="/users/sign_up" class="alert-link">sign up</a> to see the review of the users who follow here!
  </div>
<% end %>

<div id="timeline-reviews">
</div>

<script type="text/javascript">
  $(function(){
  	$.ajax({
      url: '/user/timeline.json',
      type: 'GET'
    })
    .done(function(data){
      displayReviews(data);
    });

    function displayReviews(data){
      let container = $("#timeline-reviews");
      let htmlString = "";

      //insert panel
      htmlString += `<div class="panel panel-danger">
      					<div class="panel-body">`;

      let imageUrl = "https://image.tmdb.org/t/p/w154"

      container.empty();
      //check if the API responds back with an error i.e. no data found.
      if (data["reviews"].length == 0) {
        htmlString = `<div class="alert alert-danger text-center" role="alert">The user you are following havenot reviewd any movies!</div>`
      } else {
	        data["reviews"].forEach(function(review){
	          htmlString += `
	          				<div class="row">
		          				<div class="col-xs-12 col-sm-9">
		                        	<p><a href="users/${review["user"]["id"]}">${review["user"]["username"]}</a> reviewed <a href="movies/${review["movie"]["tmdb_id"]}">${review["movie"]["title"]}</a>: "${review["comment"]}"</p>
		                        </div>
		                        <div class="col-xs-12 col-sm-3 my-img">
		                        	<img src=${review["movie"]["poster"] == null ? "https://goo.gl/p8zDGq" : imageUrl + review["movie"]["poster"]} >
		                        </div>
		                    </div><hr>
	                        `
	        });
	    }
	    // close panel
	    htmlString += `
	    			</div>
	    		</div>`;
	    container.append(htmlString);
  	}
  });
</script>